%h2= @mission.name

%p
  = @mission.status
  mission by
  = @mission.user.name

%p
  %b Server:
  = @mission.server
%p
  %b Faction:
  = @mission.faction

%h3 Troopers

- if @mission.characters.empty?
  %p No troopers yet
- else
  %table
    %thead
      %tr
        %th Name
        %th BR
        %th Online
        %th Resources
    %tbody
      - @mission.troopers_data.each do |character|
        %tr
          %td= character.name
          %td= character.battle_rank
          %td= character.online
          %td A:#{character.aerospace}|M:#{character.mechanized}|I:#{character.infantry}

= form_for @trooper do |f|
  = f.hidden_field :mission_id
  = f.fields_for :character do |c|
    .field
      = c.label :name
      = c.text_field :name
  .actions
    = f.submit 'Save'

- unless @friends.empty?
  %h4 Add friends of current troopers?

  %p
    - @friends.each do |friend|
      %span= friend

- if can?(:destroy, @mission)
  %p= link_to 'Cancel this mission', @mission, method: :delete, data: { confirm: 'Are you sure?' }
