!!!
%html
  %head
    %title Auraxis Governed
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    = link_to "Steam", user_omniauth_authorize_path(:steam)

    = yield
