!!!
%html
  %head
    %title Auraxis Governed
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    #container
      %header
        %h1= link_to "Auraxis Governed", root_path
        %p PlanetSide 2 leader assistant tool.

      %nav
        - if user_signed_in?
          %p
            = current_user.name
            = link_to "Log out", destroy_user_session_path
        - else
          = link_to "Log in with Steam", user_omniauth_authorize_path(:steam)

      %section
        - flash.each do |name, msg|
          - if msg.is_a?(String)
            = content_tag :div, msg, class: "flash_#{name}"

        = yield
